In [48]:
import pandas as pd
import json

In [49]:
bahnhof = pd.read_csv('data/D_Bahnhof_2020_alle.CSV', sep=';')
bahnhof.head()

,EVA_NR,DS100,IFOPT,NAME,Verkehr,Laenge,Breite,Betreiber_Name,Betreiber_Nr,Status
0,8002551,AELB,de:02000:11943,Hamburg Elbbrücken,RV,"10,0245","53,5345",DB Station und Service AG,NaN,neu
1,8001944,TETN,NaN,Eutingen Nord,RV,"8,7531","48,4847",DB Station und Service AG,NaN,neu
2,8003074,MIA,NaN,Ingolstadt Audi,RV,"11,4074564","48,7904959",DB Station und Service AG,NaN,neu
3,8001723,HEBA,NaN,Einbeck Otto-Hahn-Straße,RV,"9,89290953","51,8144784",Ilmebahn GmbH,NaN,neu
4,8004371,KRO,NaN,Nörvenich-Rommelsheim,nur DPN,"6,547586","50,782539",Rurtalbahn GmbH,NaN,neu

In [50]:
bahnhof["Laenge"] = bahnhof["Laenge"].str.replace(",", ".").astype(float)
bahnhof["Breite"] = bahnhof["Breite"].str.replace(",", ".").astype(float)

In [51]:
with open('data/bahnhof_geo.json', encoding='utf-8') as f:
    coord = json.load(f)

In [52]:
temp = {"NAME": [], "state": []}

for s in coord["stations"]:
    #print (s)
    
    #break

    if "address" in s:
        name = s["names"]["DE"]["name"]
        #city = s["address"]["city"]
        state = s["address"]["state"]

        temp["NAME"].append(name)
        temp["state"].append(state)


df = pd.DataFrame.from_dict(temp)
df.head()

                   NAME                state
0            Aachen Hbf  Nordrhein-Westfalen
1  Burkhardswalde-Maxen              Sachsen
2        Burkhardtsdorf              Sachsen
3              Bürstadt               Hessen
4               Buschow          Brandenburg

In [53]:
bahnhof.drop(["IFOPT", "Betreiber_Name", "Betreiber_Nr", "Status"], axis=1).rename(columns={'Breite': 'latitude', 'Laenge': 'longitude'}).merge(df, on='NAME', how='inner').to_csv('data/bahnhof.csv', index=False)